.custom-btn {
    display: inline-block;
    padding: 6px;
    border: 1px solid cyan
}
.custom-btn:hover {
    cursor: pointer;
    background-color: cyan;
}
.fakelist > * {
    display: block;
    width: "100%";
    margin: 10px 0;
}
#overlay, #overlay2 {
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100vw;
    z-index: 6;
}
#container, #container2 {
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
    width: 400px;
}
#content, #content2 {
    margin: 20px 0;
}
#content2>div {
    margin: 10px 0;
}
.fakeHeading {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20;
}
